<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>Birds Lib</title>
</head>
<body>
  <div id="menu">
      <img src="static\logo1.png" class="logo" alt="Logo">
      <h2>Birds Lib</h2>
  </div>

  <div class="transition-text">
      <h1>Welcome to</h1>
      <h1>Birds Lib</h1>
  </div>

  <div id="click">
      <h2>Click the below icon to try our project</h2>
  </div>

  <div class="start">
      <a href="upload.html">
          <img src="static\start.png" class="hover" alt="Start">
      </a>
  </div>
</body>
</html>
